body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #F6FEFF;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

.canvas3 {
    position: static;
    left: 100px;
    top: 70px;
}

.canvas2 {
    position: absolute;
    right: 130px;
    top: 500px;
}

.canvas1 {
    position: absolute;
    top: 500px;
}

.aurin {
    position: relative;
    top: 475px;
}

.canvas4 {
    position: absolute;
    left: 25px;
    top: 1050px;
}
